@import "tailwindcss";


.text-p {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.text-h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
/* ✅ Autofill (Chrome/Edge) oq fonni yo‘qotish */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.92) !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.06) inset !important; /* shaffof fon */
  box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.06) inset !important;
  caret-color: rgba(255, 255, 255, 0.92) !important;
  transition: background-color 9999s ease-in-out 0s !important;
}

/* ✅ Inputning o‘zi ham doim shaffof bo‘lsin */
input,
textarea,
select {
  background-color: transparent;
}
